<#@ template language="C#" #>
<#@ import namespace="Coat" #>
using Coat;

namespace <#=Namespace#>
{
    [Table("<#=TableName#>")]
    public class <#=TableName#> : RecordBase<<#=TableName#>>
    {
        [Key]
<# foreach (var column in Columns){ #>
        public <#=GetColumnType(column)#> <#=column.COLUMN_NAME#> { get; set; }
<#}#>
    }
}
